:root {
  --main-text-color: #212121;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --text-color: #ffffff;
  --main-beground-color: #ffffff;
  --beground-color: #f5f4fa;
  --footer-beground-color: #2f303a;
  --button-beground-color: #2196f3;
  --accent-button-beground-color: #188ce8;
  --accent-button-filtr-beground-color: #2196f3;
}
/*------------------- Добавить остальные цвета */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-beground-color);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* ------------main-navigation----------- */
.logo-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  /* на лготип змінні на примінив спеціально, бо це логотип */
}
.logo {
  color: #2196f3;
  /* на лготип змінні на примінив спеціально, бо це логотип */
}
/* ------------site-nav----------- */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* ------------auth-nav----------- */
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}
/*--------------- section-hero -----------------*/
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
}
.button-servise-order {
  font-family: inherit;
  position: absolute;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;

  background: var(--button-beground-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.button-servise-order:hover,
.button-servise-order:focus,
.button-servise-order:active {
  background-color: var(--accent-button-beground-color);
}
/*--------------- section -----------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*--------------- team -----------------*/
.section-team {
  background-color: var(--beground-color);
}
.team {
  background-color: var(--main-beground-color);
}
.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*--------------- footer -----------------*/
.footer {
  background-color: var(--footer-beground-color);
}
.addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.addres-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.addres-link:hover,
.addres-link:focus {
  color: var(--accent-text-color);
}
/*--------------- PORTFOLIO -----------------*/
/*--------------- section-filter -----------------*/
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: var(--beground-color);
  border-radius: 4px;
}
.button-filter:hover,
.button-filter:active,
.button-filter:focus {
  color: var(--text-color);
  background-color: var(--accent-button-filtr-beground-color);
}
/*--------------- progects -----------------*/
/* .progect */
/* .progect-link */
.progect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.progect-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
